#text{
    font-family: Arial, Helvetica, sans-serif;
}

.div { 
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
}

.div1 {
    display: flex;
    margin: 10px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}